h1 {
  font-size: 72px;
  margin-top: 20px;
}
.grid {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(8, 1fr);
}
.grid div {
  width: 100%;
  height: 350px;
  background-color: rgb(243, 94, 94);
}
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); /* 2-2 */
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2-2 */
  }
}